.form-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}

.form-container
{
    width: 80%;
}

label{
    font-size: 19px;
    font-weight: 900;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}